body{
font-family:sans-serif;
}

h1{
  text-align:center;
}

aside{
  display:inline-block;
  max-width:35%;
  vertical-align:top;
  background-color:#000000;
  color:#ffffff;
}

.right-part{
  display:inline-block;
  max-width:60%;
  padding-left:20px;
  background-color:#e6e6e6;
}

.contacts{
  padding-left:50px;
}

.photo{
  width: 40%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.round{
  border-radius:200px;
}
