body{
font-family:sans-serif;
}

h1{
  text-align:center;
}

.contacts{
  padding-left:50px;
  
}

.round{
  border-radius:100px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

aside{
  display:inline-block;
  width:35%;
  vertical-align:top;
  background-color:#000000;
  color:#ffffff;
}

.right-part{
  display:inline-block;
  width:65%;
  padding-left:20px;
  background-color:#e6e6e6;
}
