body{
font-family:sans-serif;
}

h1{
  padding-left:10px;
}

p{
  padding-left:10px;
  color:#f7e000;
}

.round{
border-radius:100px;
}

aside{
  display:inline-block;
  width:30%;
  vertical-align:top;
  background-color:#564ff8;
  color:#ffffff;
}

.right-part{
  display:inline-block;
  width:65%;
}
